# ==============================
# Python Virtual Environment
# ==============================
venv/
Backend/venv/

# ==============================
# Python Cache
# ==============================
__pycache__/
*.pyc

# ==============================
# Dataset & Large Files
# ==============================
*.npy
*.csv

# Ignore large mapping file specifically (if present)
user_mapping.pt

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Node
# ==============================
node_modules/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db